body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Estilos generales */
h1 {
    text-align: center;
    color: #333;
    margin-top: 40px;
}

#salesChart {
    width: 60%; /* Ancho completo */
    height: 300px; /* Alto por defecto */
    margin: 0 auto;
    margin-top: 40px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos de la tabla */
table {
    border-collapse: separate;
    border-spacing: 0;
    width: 80%;
    margin: 40px auto;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    border-radius: 8px; /* Bordes redondeados */
    overflow: hidden; /* Ocultar el borde de la tabla */
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}

tr:hover {
    background-color: #f1f1f1;
    transition: background-color 0.3s;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}
